:root{
    --color-verde:#21482e ;
    --color-verde-claro: #60905d;
    --color-azul:#213f48;
    --color-azul-claro: #5d7690;
}

@font-face {
    font-family: 'Monserrat';
    src: url('../fonts/montserrat/Montserrat-Regular.otf');
}

.ColorDeFooter{
    background-color: #e9ecef;
}

.colorTransparente {
    background: rgba(138, 221, 45, 0);
}
.colorBotonLoginIngresar{
    background-color: #dee2e6;
}
.tamDeImgLogoAgregarUsuario{
    height: 25rem;
    width: 25rem;
}
.imgTamañoDeMenuAdministrador{
    height: 15rem;
    width: 15rem;

}
.ImgTamañoValores{
    width: 25rem;
}
.tamDeImgLogoEditarListado{
    height: 20rem;
    width: 20rem;
}
.tamDeImgLogoViewsSubirf1Docentes{
    height: 13rem;
    width: 13rem;
}

/* Nuevas clases */
.TamDeImgDeFooter{
    width: 8rem;
    height: 8rem;
}
.TamDeLetra{
font-size: 13px;
}
.TamDeLetras{
    font-size: 14px;
}
a{
    text-decoration: none;
    transition-duration: 1s;


}
a:hover{
    transform: scale(1.1);
    transition-duration: 1s;
    
}
.TamDeFotoEventoCbt{
    width: 35rem;
}
.GosorDeLetra{
    font-size: 40px;
 
}

.ColorDeCard1{

background-color: --
}
.ColorDeCard2{
    background-color: #dee2e6;
}
.ColorDeCard3{
    background-color: #ced4da;
}
.ColorDeCard4{
    background-color: #adb5bd;
}